@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f8f5e4;
}

.icon-add {
  transition: 1s;
}


.icon-add:hover {
  filter: hue-rotate(15deg);
  transition: 1s;
  cursor: pointer;
}

.modal-grid {
  grid-template-columns: 350px auto 350px;
}
